body, #complete, #questionOne, #questionOne img, .answerDiv, .correctAnswer, .button, 
#scorePage, #finalScore, #finalCorrectAnswers, #correctChoices {
	position: relative;
	/*border: 1px solid black;*/
}

html {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-opacity: 0.1;
}

body {
	height: 100%;
	width: 100%;
	min-width: 500px;
	min-height: 500px;
	font-family: "Century Gothic", Calibri, Georgia;
}

#complete {
	margin: 0 auto;
	margin-top: 10px;
	width: 500px;
	height: 100px;
}

.q1, .q2, .q3, .q4, .q5 {
	display: none;
}

.q1, .q2, .q3, .q4, .q5 {
	position: relative;
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
	width: 130px;
	height: 25px;
	text-align: center;
	padding-top: 10px;
	color: white;
}

#instructions, #questionOne, #questionTwo, #questionThree, #questionFour, #questionFive, #scorePage {
	margin: 0 auto;
	margin-top: 75px;
	width: 700px;
	height: 700px;
	background-color: #697373;
	opacity: 0.8;
}

#questionOne, #questionTwo, #questionThree, #questionFour, #questionFive, #scorePage {
	display: none;
}

#instructions p {
	text-align: center;
	font-size: 1.5em;
}

#startButton, .submitButton, .continueButton {
	width: 100px;
	height: 50px;
	font-weight: bolder;
	font-size: 1em;
	border-radius: 10%;
	text-align: center;
}

.submitButton, .continueButton {
	display: none;
}

.button {
	margin: 0 auto;
	margin-top: 75px;
	width: 100px;
	height: 50px;	
}

#questionOne img, #questionTwo img {
	margin: 0 auto;
	display: block;
	width: 500px;
	height: 300px;
}

.quizQuestions {
	margin-top: 25px;
	text-align: center;
	font-size: 1.75em;
}

.answerDiv {
	display: none;
	margin: 0 auto;
	margin-top: 25px;
	width: 350px;
	height: 150px;
	font-size: 1.5em;
	text-align: center;
}

.answerDiv input {
	font-size: 5em;
	margin: 0 0 20px 0;
}

label {
	display: block;
}

.correctAnswer {
	display: none;
	margin: 0 auto;
	margin-top: 25px;
	width: 350px;
	height: 150px;
	text-align: center;
}

.correctAnswer p {
	font-size: 1.2em;
}

.correctAnswer span {
	font-size: 1em;
}

#questionThree img, #questionFive img {
	margin: 0 auto;
	display: block;
	width: 300px;
	height: 300px;
}

#questionFour img {
	margin: 0 auto;
	display: block;
	width: 400px;
	height: 300px;
}

#scorePage p {
	font-size: 1em;
}

#scorePage #score {
	text-align: center;
	font-size: 3em;
}

#finalScore, #finalCorrectAnswers {
	margin: 0 auto;
	margin-top: 25px;
	width: 300px;
	height: 100px;
}

#finalScore p {
	font-size: 5em;
	margin-top: 10px;
	text-align: center;
}

#finalCorrectAnswers {
	font-size: 1.5em;
	margin-top: 10px;
	text-align: center;
}

#correctChoices {
	margin: 0 auto;
	margin-top: 25px;
	width: 500px;
	height: 200px;
}

#correctChoices p{
	font-size: 1.2em;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
}