html, body, header, section, #start, #header, #left, #center, #right, .question, table, #button, .submitButton, .continueButton, #end {
	position: relative;
	/*border: 1px solid black;*/
}

body {
	font-family: "Lucida Console";
	font-size: em;
	background-color: #697373;
}

#header {
	margin: 0 auto;
	margin-top: 20px;
	height: 40px;
	width: 75%;
}

#left {
	float: left;
	height: 40px;
	width: 25%;
	text-align: center;
}

#center {
	margin: 0 auto;
	height: 40px;
	width: 25%;
	text-align: center;
	font-size: 3em;
}

#right {
	float: right;
	height: 40px;
	width: 25%;
	margin-top: -42px;
	text-align: center;
}

#windowBox {
	margin: auto;
	height: 100%;
	width: 100%;
	min-height: 200px;
}

.main {
	margin: 0 auto;
	margin-top: 25px;
	width: 75%;
	height: 50%;
	min-height: 200px;
	text-align: center;
}

#start {
	margin: 0 auto;
	width: 75%;
	height: 50%;
}

#start p {
	text-align: center;
}

#question {
	display:;
	margin: 0 auto;
	width: 50%;
	height: 75%;
}

#question img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: 225px;
	width: 350px;
}

#question p {
	margin-top: 10px;
	text-align: center;
}

table {
	margin: 0 auto;
	margin-top: 25px;
	text-align: left;
}

.button {
	margin: 0 auto;
	margin-top: 25px;
	height: 25px;
	width: 62px;
}

#startGame, #submitButton, #newGame {
	margin: 0 auto;
	margin-top: 25px;
	height: 25px;
	text-align: center;
	border-radius: 10%;
}



#end {
/*	display: none;*/
	margin: 0 auto;
	width: 55%;
	height: 75%;
}